{% extends 'radio/template.html' %}


{% block content %} 

<div class="container">

<h1>Studio de Radio Londres</h1>
<p>La radio qui parlent aux Français.</p>

  <form action="../diffuser_message" method="POST">
    {% csrf_token %} 
    <label>Résistant : </label>

    <select name="resistant" id="resistant" class="form-control">
    {% for resistant in resistant %}
      <option value='{{resistant.pseudo}}'>{{ resistant.pseudo }}</option>
    {% endfor %}
    </select> 
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Message</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="message" id="message"></textarea>
    </div>

    <input type="submit" value="Diffuser un message" />

  </form>
</div>

{% endblock %}


<!--<input type="text" id="resistant" name="resistant" size="50"/>-->